# Logs
logs
*.log
.*_history
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Test
lib-cov
coverage
.nyc_output
.grunt

# Compile
build/Release

# Dependencies
node_modules
jspm_packages
package-lock.json
.npm
.node_repl_history
.lock-wscript
